<%= render 'shared/errors', obj: @article %>
<div class="bg-success container rounded p-3">
    <%= form_with(model: @article, local:true) do |f| %>
    <form>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class:'form-control', placeholder: 'enter the title' %>
    </div>
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class:'form-control', placeholder: 'enter the description' %>
    </div>
    <div class="form-group row justify-content-center">
    <%= f.submit class: 'btn btn-outline-light btn-lg' %>
    </div>
    </form>
    <% end %>
</div>
<%= link_to '[Return to article listing]', articles_path, class: 'text-success' %>